body,
html {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color: var(--light-blue);
}

.team-description {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas: "column1 column2";
}

.column1,
.column2 {
	text-align: center;
	vertical-align: top;
	padding: 20px;
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.column1 h1,
.column1 h2,
.column2 h1,
.column2 h2 {
	font-weight: normal;
}

.column1 p,
.column2 p {
	font-size: larger;
	margin-left: 20%;
	margin-right: 20%;
}

.column1 {
	grid-area: column1;
}

.column2 {
	grid-area: column2;
}

.overview {
	text-align: center;
	padding: 20px;
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.overview h1 {
	font-weight: normal;
}

.overview p {
	font-size: 20px;
	word-wrap: break-word;
	vertical-align: middle;
	max-width: 1000px;
	margin: 0 auto 2em;
	float: none;
}

.description-title {
	font-size: 20pt;
}
