body,
html {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	display: grid;
	grid-template-rows: 40px 60px 400px 600px 40px;
	grid-template-columns: 50% 50%;
	grid-template-areas:
		"tabs tabs"
        "header header"
		"text text"
        "column1 column2"
        "footer footer";
}

.header {
	grid-area: header;
	padding: 10px;
	background-color: #333;
	color: white;
	font-size: 2em;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding: 10px;
	background-color: #555;
	overflow: auto;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding: 10px;
	background-color: rgb(175, 175, 175);
}

.activated-layers-legend {
	position: relative;
	background: rgba(214, 214, 214, 0.6);
	padding: 1rem;
	padding-top: 0.6em;
	border-radius: 1em;
	line-height: 0.5;
}

.activated-layers-legend h3 {
	text-align: center;
}

.activated-layers-legend .color-box {
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0);
	padding: 0.2em;
	margin-right: 0.5em;
	opacity: 40%;
	vertical-align: middle;
}

.activated-layers-legend p {
	display: inline-block;
	vertical-align: middle;
}

.tabs{
	grid-area: tabs;
	vertical-align: middle;
	background-color: lightgrey;
	text-align: center;
	vertical-align: middle;
	word-spacing: 100px;
	padding: 10px;
}

.column1{
	grid-area: column1;
	background-color: lightgrey;
	text-align: center;
	vertical-align: top;
	padding: 20px;
	border-right: black;
	border-width: 3px;
	border-right-style: dotted;
}

.column2{
	grid-area: column2;
	background-color: lightgrey;
	text-align: center;
	vertical-align: top;
	padding: 20px;
}

.text{
	grid-area: text;
	background-color: lightslategray;
	text-align: center;
	padding: 20px;
}
