:root {
	--light-blue: rgb(100, 177, 224);
	--dark-blue: rgb(0, 0, 134);
}

.header {
	padding: 10px;
	background-color: var(--dark-blue);
	color: white;
	font-size: 2em;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tabs {
	vertical-align: middle;
	background-color: white;
	text-align: left;
	vertical-align: middle;
	word-spacing: 30px;
	padding: 10px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tab:link,
.tab:visited {
	background-color: var(--light-blue);
	color: white;
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	border-radius: 0.3em;
}

.tab:hover,
.tab:active {
	background-color: var(--dark-blue);
	color: white;
}
