body,
html {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

#map {
	height: 100%;
}

.sidebar-and-content {
	display: grid;
	grid-template-columns: 18em 1fr;
	grid-template-areas: "sidebar content";
	flex-grow: 1;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding: 10px;
	background-color: rgb(100, 177, 224);
	overflow: auto;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding: 10px;
	background-color: rgb(175, 175, 175);
}

.activated-layers-legend {
	position: relative;
	background: rgba(214, 214, 214, 0.6);
	padding: 1rem;
	padding-top: 0.6em;
	border-radius: 1em;
	line-height: 0.5;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.activated-layers-legend h3 {
	text-align: center;
}

.activated-layers-legend .color-box {
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0);
	padding: 0.2em;
	margin-right: 0.5em;
	opacity: 40%;
	vertical-align: middle;
}

.activated-layers-legend p {
	display: inline-block;
	vertical-align: middle;
}

.text {
	grid-area: text;
	background-color: rgb(100, 177, 224);
	text-align: center;
	padding: 20px;
	color: white;
}
