/* *************** General */

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	flex-direction: column;
	display: flex;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding: 10px;
	background-color: rgb(175, 175, 175);
}

#sidebar-and-content {
	flex-grow: 1;

	display: grid;
	grid-template-columns: 18em 1fr;
	grid-template-areas: "sidebar content";

	overflow: hidden;

	transition: margin-right 0.5s;
}

/* *************** Map */

#map {
	z-index: 0;
	height: 100%;
}

.activated-layers-legend {
	position: relative;

	padding: 1rem;
	padding-top: 0.6em;
	border-radius: 10px;

	background: rgba(214, 214, 214, 0.6);

	line-height: 0.5;
}

.activated-layers-legend h3 {
	text-align: center;
}

.legend-layer-info {
	align-items: center;
	display: flex;
}

.activated-layers-legend .color-box {
	display: grid;

	width: fit-content;
	height: fit-content;
	margin-right: 0.5em;

	background-color: rgba(255, 255, 255, 0);
}

.color-box-single {
	grid-area: 1/1;

	display: inline-block;
	opacity: 40%;

	width: 10px;
	height: 10px;
	padding: 0.2em;
}

.score-overlay {
	vertical-align: middle;

	width: fit-content;
	height: fit-content;

	cursor: grab !important;
	background-color: rgba(255, 255, 255, 0);

	text-align: center;
	font-size: large;
	font-weight: bold;
}

.info {
	min-width: 250px;
	min-height: 50px;
	padding: 6px 8px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

	background: rgba(255, 255, 255, 0.8);

	font-size: 15px;
}

.info h2 {
	margin: 0;
}

.info h3 {
	margin: 0;
}

.info ul {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	list-style-type: none;
}

.info #arts-policies-list {
	columns: 2;
}

.info p {
	padding: 0;
	margin: 0;
	font-size: large;
}

.leaflet-control-layers {
	display: none;
}

/* *************** Sidebars - Shared */

.collapsible {
	position: relative;

	display: flex;
	align-items: center;

	width: 100%;
	padding: 14px;
	outline: none;
	border: none;
	border-radius: 10px;

	cursor: pointer;
	background-color: rgb(77, 187, 255);

	text-align: left;
}

.collapsible-active,
.collapsible:hover {
	background-color: rgb(166, 219, 252);
}

.collapsible-content {
	vertical-align: middle;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	max-height: 0;
}

#expand-list-icon {
	transform: rotate(0deg);
	/* filter: invert(100%); make icon color white instead of black */

	transition: transform 0.2s;

	width: 2em;
	height: 2em;
	margin-left: auto;
}

/* *************** Left Sidebar */

#left-sidebar {
	grid-area: sidebar;
	overflow: auto;
	padding: 10px;
	background-color: var(--light-blue);
}

#left-sidebar .collapsible {
	transition: border-radius 0.7s;
	font-size: 15px;
}

#left-sidebar .collapsible-active {
	transition: border-radius 0.1s;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#left-sidebar .collapsible-content {
	background-color: rgb(166, 219, 252);
}

#left-sidebar .collapsible-content h4,
#left-sidebar .collapsible-content p {
	padding-left: 8px;
	padding-right: 8px;
}

#left-sidebar .collapsible-content h4 {
	padding-bottom: 8px;
	margin-bottom: 0;
}

#left-sidebar .collapsible-content p {
	padding-bottom: 8px;
	margin-top: 0;
}

/* *************** Expandable Sidebar */

#expandable-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;

	overflow-x: hidden; /* Disable horizontal scroll */

	transition: 0.5s;

	width: 22em;
	height: auto;
	padding-top: 20px; /* Place content 60px from the top */
	margin-right: -22em;

	background-color: var(--light-blue);
}

#expand-button-div {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;

	transition: margin-right 0.5s; /* If you want a transition effect */

	height: fit-content;
	margin: auto;
	margin-right: 0;
}

/* The button used to open the sidebar */
#expand-button {
	place-items: center;

	display: grid;
	grid-template-areas: "icon";

	padding: 10px 10px;
	outline: none;
	border: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	/* box-shadow: 1px 0px 0 rgb(158, 216, 252); */

	cursor: pointer;
	background-color: var(--light-blue);
}

#expand-button:hover {
	background-color: var(--light-blue);
}

#expand-sidebar-icon {
	grid-area: icon;

	filter: invert(100%); /* make icon color white instead of black */
	transform: rotate(0deg);

	transition: transform 0.2s;

	width: 2em;
	height: 2em;
}

#expandable-sidebar-content {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#expandable-sidebar .collapsible {
	margin-bottom: 8px;
	font-size: 16px;
}

#expandable-sidebar .collapsible h4 {
	margin: 0;
}

#correlation-stats {
	display: flex;
	height: 60px;
	padding-bottom: 1em;
}

#expandable-sidebar-content h3 {
	margin: 0;
}

#scores-chart {
	background-color: white;
	border-radius: 10px;
	margin-bottom: 8px;
	margin-top: 0px;
}

#chart-js {
	min-height: 350px;
	margin: 10px;
}

#correlation-stats h4 {
	align-self: center;
	margin: 0;
}

.layer-control-item {
	position: relative;
	display: flex;
	padding-bottom: 1em;
}

.layer-control-item-text {
	margin-left: 70px;
}

.layer-control-item-text p {
	margin: 0;
}

.switch input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: relative;
	top: 50%;
	float: left;

	transform: translateY(-50%);

	-webkit-transition: 0.4s;
	transition: 0.4s;

	width: 60px;
	height: 34px;

	cursor: pointer;
	background-color: #ccc;
}

.slider:before {
	content: "";

	position: absolute;
	top: 50%;

	transform: translateY(-50%);

	-webkit-transition: 0.4s;
	transition: 0.4s;

	width: 26px;
	height: 26px;
	margin: 0;
	margin-left: 4px;

	background-color: white;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	transform: translateX(26px) translateY(-50%);
	-webkit-transform: translateX(26px) translateY(-50%);
	-ms-transform: translateX(26px) translateY(-50%);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	#expandable-sidebar {
		padding-top: 15px;
	}
	#expandable-sidebar a {
		font-size: 18px;
	}
}
